<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="levenDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean id="ggjReadDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${ggj.read.db.driver}"/>
        <property name="url" value="${ggj.read.db.url}"/>
        <property name="username" value="${ggj.read.db.username}"/>
        <property name="password" value="${ggj.read.db.password}"/>
    </bean>

    <bean id="routeDataSource" class="xyz.leven.toolbox.config.datasource.RouteDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="levenDs" value-ref="levenDataSource"/>
                <entry key="ggjDs" value-ref="ggjReadDataSource"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="levenDataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="routeDataSource"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:xyz/leven/toolbox/mapper/*.xml</value>
            </list>
        </property>
        <property name="typeAliasesPackage" value="xyz.leven.toolbox.entity"/>
    </bean>

    <bean id="sqlTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="xyz.leven.toolbox.mapper"/>
    </bean>

</beans>